.calclinks {
    text-decoration: none;
    color: #0c0c0c;
}

.calclinks:hover {
    color: #808080;

}

.topnav {
    flex-wrap: wrap;
}

input {
    display: table-cell;
    width: 100%;
}


th {
    font-size: 14;
}


[contenteditable=true]:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    display: block; /* For Firefox */
}


.pipeButt {
    align-self: center;
}